[Unit]
Description=Auto SSH Tunnel Service
After=network.target
StartLimitIntervalSec=100
StartLimitBurst=5

[Service]
Restart=always
RestartSec=30
ExecStart=/etc/auto-ssh-tunnel/connect.py

[Install]
WantedBy=multi-user.target
