[Unit]
Description=Auto SSH tunnel service
After=network.target
StartLimitIntervalSec=100
StartLimitBurst=5

[Service]
Restart=always
RestartSec=30
ExecStart=/etc/systemd/system/connect.py

[Install]
WantedBy=multi-user.target
